<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/app.css">
</head>
<body>
  <h1>Currently you are: <%= author ? author : "not logged in, yet!" %></h1>
  <%- body %>
</body>
</html>
<!-- Default site-wide shell -->
