<h3>New tweet for <%= author %></h3>

<form action="/tweets" method="post">
  <input type="text"
         name="tweet[content]"
         placeholder="content of tweet, limit 140 characters"><br/>
  <input type="submit">
</form>
